.dot {
    background-color: tomato;
    display:flex;
    justify-content: center;
    align-items: flex-end;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    position: absolute;
    right: -5px;
    top: -10px;
}